header{
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    ul{
        display: flex;
        align-items: center;
        justify-content: start;
        height: 60px;
        li{
            list-style: none;
            margin-right: 25px;
                a{
                    color: #fff;
                    transition: .3s;
                    &:hover{
                        text-decoration: none;
                        color: blue;
                    }
                }

        }
    }
}